* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    hsl(334, 100%, 34%),
    hsl(3, 100%, 58%) 95%
  );
}

.logo {
  width: 120px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px 20px;
}

.container {
  height: 80%;
  width: 50%;
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}

.tile {
  width: 100%;
  padding: 0px 40px;
}

.player-tile {
  border-radius: 10px 0 0 10px;
  background-color: hsla(179, 63%, 38%, 1);
}

.cpu-tile {
  border-radius: 0 10px 10px 0;
  background-color: hsla(179, 95%, 25%, 1);
}

.score {
  color: #fff;
  font-size: 4rem;
  margin-top: 20px;
}

.wager {
  font-size: 12rem;
}

table {
  width: 100%;
  margin: 25px 0px;
}

td {
  text-align: left;
  padding: 10px 5px;
}

td label {
  font-size: 1.5rem;
  font-weight: 600;
}

.select-box {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.display-call {
  background-color: hsl(170, 97%, 73%);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px 7px 15px;
  border-radius: 5px;
}

#display-win-container {
  background-color: hsl(170, 97%, 73%);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px 7px 15px;
  border-radius: 5px;
}

#continue-btn-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin: 0px 10px;
  transition: 15ms;
  font-weight: 600;
}

.btn:hover {
  font-size: 150%;
  cursor: pointer;
}

.play-btn {
  border: 2px solid hsl(78, 80%, 28%);
  background-color: hsl(78, 80%, 30%);
}

.play-btn:hover {
  border: 1px solid hsl(78, 80%, 33%);
  background-color: hsl(78, 80%, 33%);
}

.reset-btn {
  border: 2px solid hsl(330, 50%, 48%);
  background-color: hsl(321, 50%, 50%);
}

.reset-btn:hover {
  border: 1px solid hsl(321, 83%, 55%);
  background-color: hsl(321, 83%, 55%);
}

.hidden {
  visibility: hidden;
}
