* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shippori Antique", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    hsl(334, 100%, 34%),
    hsl(3, 100%, 58%) 95%
  );
}

.logo {
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px 18px;
}

.container {
  height: 80%;
  width: 50%;
  position: relative;
  display: flex;
  border: 2px solid #000;
  border-radius: 13px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}

.tile {
  width: 100%;
  padding: 0px 40px;
  text-align: center;
}

.player-tile {
  border-radius: 10px 0 0 10px;
  background-color: hsla(179, 63%, 38%, 1);
}

.cpu-tile {
  border-radius: 0 10px 10px 0;
  background-color: hsla(179, 95%, 25%, 1);
}

.score {
  color: #fff;
  font-size: 4rem;
  margin-top: 30px;
}

.wager {
  font-size: 12rem;
}

table {
  width: 100%;
  margin: 8px 0px 35px;
}

td {
  text-align: left;
  padding: 10px 5px;
}

td label {
  font-size: 1.5rem;
  font-weight: 600;
}

.select-box {
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-box:focus {
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  height: 40px;
  width: 100px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 0px 10px;
  transition: 50ms;
}

.btn:hover {
  font-size: 150%;
  cursor: pointer;
}

.play-btn {
  border: 2px solid hsl(78, 80%, 28%);
  background-color: hsl(78, 79%, 44%);
}

.play-btn:hover {
  background-color: hsl(78, 79%, 55%);
}

.reset-btn {
  border: 2px solid hsl(321, 50%, 38%);
  background-color: hsl(321, 80%, 55%);
}

.reset-btn:hover {
  background-color: hsl(321, 100%, 65%);
}

.continue-btn {
  border: 2px solid hsl(57, 100%, 30%);
  background-color: hsl(57, 60%, 50%);
}

.continue-btn:hover {
  background-color: hsl(57, 100%, 60%);
}

.display-call-container {
  max-width: 150px;
  background-color: hsl(170, 97%, 73%);
  font-size: 1.2rem;
  text-align: center;
  padding: 5px 15px 7px 15px;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-win-container {
  max-width: 150px;
  background-color: hsl(17, 97%, 73%);
  font-size: 2rem;
  text-align: center;
  padding: 5px 15px 7px 15px;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.continue-btn-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-winner {
  z-index: 0;
  background-color: hsla(179, 63%, 48%, 1);
  outline: 2px solid #fff;
  border: 2px solid #fff;
}

.cpu-winner {
  background-color: hsla(179, 95%, 35%, 1);
  outline: 2px solid #fff;
  border: 2px solid #fff;
}

.hidden {
  visibility: hidden;
}
